# Lecture 5: Intro to Python
- *Student Name:* Mahek Sanghavi
- *Division:* C

In [1]:
# String Data type
student_name = "Mahek Sanghavi"
student_name

'Mahek Sanghavi'

In [2]:
# Numeric Data type
student_age = 19
student_age

19

In [8]:
#Create two variables to store the age of your parents
mother_age = 43
father_age = 47

In [10]:
# Create and print the average age of your family
average_age = (student_age + mother_age+father_age)/3
average_age

36.333333333333336

In [13]:
# Average Aga sentence
sentence = "Our FamiLy Average Age is "  + str (average_age)
sentence

'Our FamiLy Average Age is 36.333333333333336'

In [15]:
is_mother_older = mother_age > father_age
is_mother_older

False

In [16]:
is_father_older = father_age > mother_age
is_father_older

True

In [19]:
is_same_age = mother_age == father_age
is_same_age

False

# Lists

In [22]:
# List of Virat Kohli's scores
vk_scores = [0, 32, 50, 34, 90]
vk_scores

[0, 32, 50, 34, 90]

In [31]:
# Make a variable that stores a list of Your Favorite Movies
favorite_movies = ["To All The boys", "End Game", "Dil Dhadakne Do" ]
favorite_movies

['To All The boys', 'End Game', 'Dil Dhadakne Do']

In [32]:
# First Value
favorite_movies[0]

'To All The boys'

In [33]:
# Second Value
favorite_movies[1]

'End Game'

In [34]:
# Last Value
favorite_movies[-1]

'Dil Dhadakne Do'

In [35]:
# Second Last Value
favorite_movies[-2]

'End Game'

In [36]:
# Add a value to a list
favorite_movies.append ("Housefull 2")
favorite_movies

['To All The boys', 'End Game', 'Dil Dhadakne Do', 'Housefull 2']

In [37]:
# Remove a value from a list
favorite_movies.remove ("To All The boys")
favorite_movies

['End Game', 'Dil Dhadakne Do', 'Housefull 2']

In [38]:
# Index of "End Game" in the list
favorite_movies.index("End Game")

0

In [40]:
#Total Values in a list
total_favorite_movies = len (favorite_movies)
total_favorite_movies

3